- if user.errors.any?
  .callout.alert
    h5
      - if form_action == :new
        | A new user could not be created due to the following errors:
      - if form_action == :edit
        | User could not be updated due to the following errors:
    ul
      - user.errors.full_messages.each do |msg|
        li = msg
