#new-user-form.reveal.fast[data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up"]
  == render 'users/user_form', user: @user, form_action: :new

  button.close-button[aria-label="Close" type="button" data-close]
    span[aria-hidden="true"] &times;
