.cell.small-12
  tr
    td
      i.fi-photo
    td = user.id
    td = user.name
    td = user.login
    td = number_to_currency user.salary, unit: "S$"
    td.text-center
      button.link data-open="edit-#{user.id}-form"
        span
          i.fi-pencil
      button.margin-left-1.hide-for-large
        span
          = link_to user, data: { confirm: 'Are you sure you want to delete this employee?' }, method: :delete do
            i.fi-trash style="color:#000;"
      button.margin-left-2.show-for-large
        span
          = link_to user, data: { confirm: 'Are you sure you want to delete this employee?' }, method: :delete do
            i.fi-trash style="color:#000;"
