.grid-container
  .grid-x.grid-padding-x
    .cell.small-12
      h2 = form_heading(form_action)
    .cell.small-12
      div id="error-explanation-#{if form_action == :new then "new" else user.id}"
        == render partial: 'users/form_errors', locals: { user: @user, form_action: form_action }
    .cell.small-12
      = form_with model: user do |f|
        = f.label :id, "ID"
        = f.text_field :id, disabled: form_action == :edit
        = f.label :name
        = f.text_field :name
        = f.label :login
        = f.text_field :login
        = f.label :salary
        = f.text_field :salary, type: :number, step: 0.01
        = f.submit "#{form_action == :new ? "Create Employee" : "Edit Employee"}", class: "button"
