.grid-container.fluid.margin-top-2
  = form_with url: users_path, method: :get, local: true
    - request.query_parameters.collect do |key, value|
      - if key != "maxSalary" && key != "minSalary"
        = hidden_field_tag key, value
    .grid-x.grid-padding-x
      .cell.small-12.medium-4
        .input-group
          span.input-group-label[style='background: white;'] = "Min Salary"
          span.input-group-label S$
          = text_field_tag :minSalary, request.query_parameters["minSalary"], type: :number, step: 0.01, class: 'input-group-field'
      .cell.small-12.medium-3.text-center
        = label_tag :minSalary, "—", class: "text-center middle"
      .cell.small-12.medium-5
        .input-group
          span.input-group-label[style='background: white;'] = "Max Salary"
          span.input-group-label S$
          = text_field_tag :maxSalary, request.query_parameters["maxSalary"], type: :number, step: 0.01, class: 'input-group-field'
          .input-group-button
            = button_tag class: "button", type: "submit", name: nil do
              i.fi-magnifying-glass

.grid-container.full
  .grid-x.grid-padding-x
    .cell.small-12
      h3 Employees

    .cell.small-12.text-right
      button.button data-open="new-user-form" Add New Employee

  .grid-x.grid-padding-x
    .cell.small-12
      .table-scroll
        table
          thead
            tr
              th width="5%;"
              th = link_to "ID", sorted_users_path(request.query_parameters, sort_key, sort_order, "id")
              th = link_to "Name", sorted_users_path(request.query_parameters, sort_key, sort_order, "name")
              th = link_to "Login", sorted_users_path(request.query_parameters, sort_key, sort_order, "login")
              th = link_to "Salary", sorted_users_path(request.query_parameters, sort_key, sort_order, "salary")
              th.text-center width="10%" Action
          tbody
            == render partial: 'users/user', collection: @users

    .cell.small-12
      br
      == paginate @users

== render partial: "users/new"
== render partial: "users/edit", collection: @users, as: :user
