.grid-container
  .grid-x.grid-padding-x
    .cell.small-12.text-center
      span
        i.fi-photo style="font-size: 200px;"
      h1 = @user.name

    .cell.small-12.text-center
      table.unstriped
        tbody
          tr
            td
              strong ID
            td = @user.id
          tr
            td
              strong Login
            td = @user.login
          tr
            td
              strong Salary
            td = number_to_currency @user.salary, unit: "S$"
