.grid-container
  .grid-x.grid-padding-x
    .cell.small-12
      h1 Upload Employees from CSV
      = form_with url: upload_users_path, multipart: true, local: true
        .input-group
          = label_tag :file, "Select File", class: "input-group-button button"
          = text_field_tag :file_path, nil, disabled: true, class: "input-group-field", id: "file-field-value"
        = file_field_tag :file, accept: ".csv,text/csv", class: "show-for-sr", id: "file"
        = submit_tag "Upload", class: "button"
