// Copyright (c) 2020 by jason lusk (https://codepen.io/mpalpha/pen/bqQNGm)

   Permission is hereby granted, free of charge, to any person obtaining a copy of
   this software and associated documentation files (the "Software"), to deal in
   the Software without restriction, including without limitation the rights to
   use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
   the Software, and to permit persons to whom the Software is furnished to do so,
   subject to the following conditions:

   The above copyright notice and this permission notice shall be included in all
   copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
   FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
   COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
   IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
   CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


// margin/padding utilities

// breakpoints
$sizes: (xs: null, sm: 49rem, md: 65rem, lg: 76rem)

// spacing utility amounts
$spaceamounts: (0: 0, half: 0.5, quarter: 0.25, 1: 1, 2: 2, 3: 3, 4: 4, auto: auto)

=break($breakpoint)
  @if $breakpoint
    @media only screen and (min-width: $breakpoint)
      @content
  @else
    @content

@each $size, $breakpoint in $sizes
  $size-formatted: if($size == null, null, "-#{$size}")

  +break($breakpoint)
    @each $space, $value in $spaceamounts
      $value: if(type-of($value) == "number" and $value > 0, #{$value}rem, $value)

      @each $side in top, bottom, left, right, horizontal, vertical
        @each $type in margin, padding
          @if not ($value == auto and $type == padding)
            @if $side == horizontal or $side == vertical
              .#{$type}-#{$side}-#{$space}#{$size-formatted}
                #{$type}-#{if($side == vertical, top, left)}: #{$value} !important
                #{$type}-#{if($side == vertical, bottom, right)}: #{$value} !important

              @if $size == nth(nth($sizes, 1), 1)
                .#{$type}-#{$side}-#{$space}
                  @extend .#{$type}-#{$side}-#{$space}#{$size-formatted}
            @else
              .#{$type}-#{$side}-#{$space}#{$size-formatted}
                #{$type}-#{$side}: #{$value} !important

              @if $size == nth(nth($sizes, 1), 1)
                .#{$type}-#{$side}-#{$space}
                  @extend .#{$type}-#{$side}-#{$space}#{$size-formatted}
