.title-bar data-responsive-toggle="menu" data-hide-for="large"
  button.menu-icon type="button" data-toggle="menu-nav"

#menu-nav.off-canvas.position-left.reveal-for-large[data-off-canvas]
  ul.vertical.menu data-responsive-menu="drilldown medium-accordion"
    .grid-container
      .grid-x.grid-padding-x
        .cell.auto
          span
            i.fi-photo style="font-size: 100px;"
          .text-center
            h4 Username
    li
      = link_to "Home", root_path
    li
      = link_to "Employees", users_path
    li
      = link_to "Upload Employees", upload_users_path
