.grid-container
  .grid-x.grid-padding-x
    .cell.small-12
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          div[class="callout #{name.to_s == :notice.to_s ? "success" : "alert"}" data-closable]
            = msg
            button.close-button[aria-label="Dismiss" type="button" data-close]
              span aria-hidden="true" &times;
        - elsif msg.is_a?(Array)
          div[class="callout #{name.to_s == :notice.to_s ? "success" : "alert"}" data-closable]
            ul
              - msg.each do |m|
                li = m
            button.close-button[aria-label="Dismiss" type="button" data-close]
              span aria-hidden="true" &times;
