- app_name = Rails.application.class.module_parent_name
doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta charset="utf-8"
    title = app_name.underscore.titleize
    == csrf_meta_tags
    == csp_meta_tag

    == stylesheet_pack_tag "application", :media => 'all', 'data-turbolinks-track' => 'reload'
    == javascript_pack_tag "application", 'data-turbolinks-track' => 'reload'

  body
    .off-canvas-wrapper
      == render 'layouts/menu'

      .off-canvas-content[data-off-canvas-content]
        == render 'layouts/messages'

        == yield
